/*Header*/
.aboutusMain {
  margin-top: 164px;
  height: 100px;
  width: 1425px;
  margin-bottom: 227px;
}

.contact-info{
  margin-top: -105px;
}

.aboutusMain img {
  height: 130px;
  width: 130px;
  margin-left: -1097px;
  margin-top: -183px;
  margin-bottom: 71px;
}

.aboutusMain h3 {
  margin-top: -155px;
  margin-left: -825px;
  color: #3a98ff;
}

.aboutusMain .address {
  margin-top: -68px;
  margin-left: 5px;
  font-weight: bold;
}

.aboutusMain .address p {
  margin-top: 5px;
  margin-left: 222px;
}

.aboutusMain .address h6 {
  margin-left: 41px;
  margin-top: -14px;
}

.aboutusMain .contact-info .internet-icon {
  width: 35px;
  height: 35px;
  margin-left: -72px;
  margin-top: -95px;
  margin-bottom: 24px;
}

.aboutusMain .contact-info .phone-icon {
  width: 26px;
  height: 38px;
  margin-left: 981px;
  margin-bottom: 30px;
  margin-top: -54px;
}

.aboutusMain .contact-info .email-icon {
  width: 27px;
  height: 31px;
  margin-left: 1046px;
  margin-top: -287px;
  margin-bottom: 50px;
}

.aboutusMain .contact-info .phonenumber {
  margin-left: 1199px;
  margin-top: -113px;
  margin-bottom: 27px;
  font-weight: bold;
}

.phonenumber {
  margin-top: 10px;
}

.aboutusMain .contact-info .emailid {
  margin-left: 1209px;
  margin-top: -25px;
}

.aboutusMain .contact-info hr {
  margin-left: 1258px;
  margin-top: -16px;
  width: 117px;
}



/*Navbar*/
.visacontainer02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #3B8BBD;
  padding: 1px;
  width: 1438px;
  height: 82px;
  margin-top: -386px;
}

.visacontainer02 a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-left: 48px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.visacontainer02 a:hover {
  color: black;
}


/*Content*/

/*image1 css*/
.visa {
  width: 1455px;
  height: 550px;
  margin-left: -16px;
}

.visabackground {
  width: 1455px;
  height: 550px;
  margin-left: -16px;
  margin-top: -555px;
  margin-bottom: 19px;
}

.visaheader {
  margin-top: -353px;
  color: white;
}

.visatext p {
  color: white;
  text-align: left;
  margin-top: -95px;
  margin-left: 435px;
  font-size: 25px;
  font-family: lato;
}

.visabtn1 {
  color: white;
  background: #3B8BBD;
  height: 60px;
  width: 138px;
  border-radius: 8px;
  margin-right: 40px;
}

.visabtn2 {
  color: rgb(18, 2, 2);
  background: #D9D9D9;
  height: 60px;
  width: 138px;
  border-radius: 8px;
}

.visabutton {
  margin-left: 229px;
  margin-top: -84px;
  margin-bottom: 250px;
}

.rectangle1 {
  margin-left: 1391px;
  margin-top: -443px;
  margin-bottom: 58px;
  height: 500px;
  width: 48px;
}

.visaheader1 {
  text-align: left;
  margin-left: 64px;
  color: #3B8BBD;
}

.visatext1 {
  text-align: left;
  margin-left: 64px;
  color: #777777;
}

.visacontainer1 {
  margin-top: 20px;
  margin-bottom: 70px;
}

/*Header02*/
.visaheader2 {
  text-align: left;
  margin-left: 64px;
  color: #3B8BBD;
}

.visatext2 {
  text-align: left;
  margin-left: 64px;
  color: #777777;
}

/*Header03*/

.visaimage1 {
  margin-top: 10px;
  margin-right: 740px;
  margin-bottom: 48px;
  width: 600px;
  height: 450px;
}


.visaheader3 {
  text-align: left;
  margin-left: 746px;
  color: #3B8BBD;
  margin-top: -605px;
}

.visacontainer3 {
  text-align: left;
  margin-left: 591px;
  color: #777777;
  margin-bottom: 200px;
}

.visatext3 {
  text-align: left;
  margin-left: 150px;
  color: #777777;
  padding: 5px;
}

.visacontainer003 {
  margin-left: -50px;
}


.visaheader4 {
  text-align: left;
  margin-left: 20px;
  margin-top: -100px;
  color: #3B8BBD;
  margin-bottom: 50px;
}

.visatext4 {
  text-align: left;
  margin-left: 70px;
  color: #777777;
  padding: 5px;
}

.visacontainer004 {
  margin-left: -50px;
}





.visaheader5 {
  text-align: left;
  margin-left: 20px;
  margin-top: 108px;
  color: #3B8BBD;
  margin-bottom: 50px;
}

.visatext5 {
  text-align: left;
  margin-left: 20px;
  color: #777777;
  padding: 5px;
}

.visaimage2 {
  margin-top: -361px;
  margin-right: -740px;
  margin-bottom: 48px;
  width: 500px;
  height: 350px;
}



.visaheader6 {
  text-align: left;
  margin-left: 20px;
  margin-top: 50px;
  color: #3B8BBD;
  margin-bottom: 50px;
}

.visatext6 {
  text-align: left;
  margin-left: 20px;
  color: #777777;
  padding: 5px;
}

.visaimage3 {
  margin-top: -6px;
  margin-right: 740px;
  margin-bottom: 48px;
  width: 500px;
  height: 350px;
}



.visaheader7 {
  margin-left: -1027px;
  margin-top: 108px;
  color: #3B8BBD;
  margin-bottom: 50px;
}

.visatext7 {
  text-align: left;
  margin-left: 86px;
  color: #777777;
  padding: 5px;
}

.rectangle2 {
  margin-left: -1391px;
  margin-top: -242px;
  margin-bottom: -3px;
  height: 425px;
  width: 48px;
}

.visacontainer7 {
  margin-left: 600px;
  margin-top: -405px;
}









/*Footer*/

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #031743;
}

.container p,
a {
  font-size: 14px;
  margin: 1px 0;
}

.footer-logo {
  font-size: 20px;
  margin-bottom: 57px;
  color: white;
  font-weight: bold;
  margin-left: -1030px;
}

.footer-texts h3 {
  color: white;
  text-align: left;
  font-size: 25px;
  margin-left: 180px;
  margin-top: -122px;
}

.footer-texts p {
  color: white;
  margin-bottom: 50px;
  text-align: left;
  margin-left: 180px;

}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: white;
  line-height: 27px;
  margin-left: 163px;
  text-align: left;
}

.heading1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-left: 251px;
  margin-top: -157px;
}

.heading2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-left: 19px;
  margin-top: -157px;
}

.heading3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-left: -277px;
  margin-top: -157px;
}

.footer-widget ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}

.subscribe-form {
  height: 50px;
  width: 550px;
  margin-top: -84px;
  margin-left: 583px;
}

.subscribe-form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #2E2E2E;
  color: #fff;
  border-radius: 10px;
  margin-top: -15px;
}

.subscribe-form button {
  padding: 5px 5px;
  margin-top: -34px;
  margin-left: 527px;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-text p {
  margin-left: -886px;
  margin-top: 60px;
  margin-bottom: -17px;
  margin: 0;
  font-size: 14px;
  color: white;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li a {
  font-size: 14px;
  color: white
}


.countries {
  display: flex;
  margin: 0px;
  margin-top: -52px;
  margin-left: 317px;
}

.countrie {
  text-align: left;
  margin-left: 260px;
}

.countrie p {
  color: white;
}

.quick {
  text-align: left;
  margin-left: 87px;
}

.quick a {
  color: 'white';
}

.container5 {
  color: black;
}

.contact1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: left;
  margin-right: 44px;
}

.contact2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: left;
  margin-right: 44px;

}

.contact3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-bottom: 10px;
  color: white;
  text-align: left;
  margin-right: 44px;

}

.footer-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #031743CC;
  opacity: 2;
  z-index: -1;
}

.footer-section {
  position: relative;
  filter: blur(0.2px);
}

.footer-social {
  margin-left: -952px;
  margin-top: -93px;
  margin-bottom: 50px;
}


.facebook {
  margin-left: -99px;
  margin-top: 196px;
  margin-bottom: -23px;
  padding: 10px;
  z-index: 1;
  position: absolute;
}

.facebooklogo {
  margin-left: -960px;
  margin-top: -129px;
  margin-bottom: -194px;
  z-index: -1;
  position: relative;
}

.twitter {
  margin-top: 198px;
  margin-bottom: -300px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  margin-left: -53px;
}

.twitterlogo {
  margin-bottom: -194px;
  z-index: -1;
  position: relative;
}

.google {
  margin-top: 199px;
  margin-bottom: -300px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  margin-left: -5px;
}

.googlelogo {
  margin-bottom: -194px;
  z-index: -1;
  position: relative;
}

.linkedin {
  margin-top: 194px;
  margin-bottom: -300px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  margin-left: 48px;
}

.linkedinlogo {
  margin-bottom: -194px;
  z-index: -1;
  position: relative;
}

.copyright-text {
  margin-left: -893px;
  margin-top: -10px;
  margin-bottom: 0px;
}

.copyright {
  margin-top: -10px;
}

.footer-menu {
  margin-left: 850px;
  margin-top: -36px;
}

.line {
  margin-top: -75px;
  margin-bottom: 125px;
}

.internet {
  height: 30px;
  width: 30px;
  margin-left: 700px;
  margin-top: -253px;
  margin-bottom: 309px;
}

.email {
  height: 23px;
  width: 30px;
  margin-left: 700px;
  margin-top: -288px;
  margin-bottom: 300px;
}

.clock {
  height: 30px;
  width: 30px;
  margin-left: 700px;
  margin-top: -279px;
  margin-bottom: 300px;
}

.arrow {
  height: 10px;
  margin-left: -15px;
  width: 10px;
  margin-right: 10px;
}

.footer-section {
  background-image: url(../images/StudentImages/landing.jpeg);
  height: 720px;
  width: 1440px;
}

.footercard {
  width: 80%;
  height: 150px;
  margin-left: -50px;
}

.emailbutton {
  width: 68px;
  height: 47px;
  margin-left: 821px;
  margin-top: -65px;
  margin-bottom: 31px;
}

.button {
  margin-left: 835px;
  margin-right: 8px;
  margin-top: -79px;
  margin-bottom: 55px;
}